<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="robots" content=""/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form</title>
<!-- jQuery library -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/themes/admin/multi-select.css" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/themes/admin/multi-select-js.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body{background:#eee;}
.bg-wh{background:#fff; float:left; padding:30px; width:100%; }
.bg-wh .form-group .form-control{border-radius:0; margin-bottom:5px;}
.mlr0{margin-left:0; margin-right:0;}
.mlr5{margin-left:-5px; margin-right:-5px;}
.plr5{padding-left:5px; padding-right:5px;}
.input-group-btn span.glyphicon, .input-group-btn i.fa {font-size:20px;}
.bg-wh .form-group .input-group .form-control{margin-bottom:0;}
.form-group .input-group-btn .btn{border-radius:0;}
.form-group label{font-weight:normal;}
.append-btn{border-radius:0; margin-bottom:5px; }
.mb5{margin-bottom:5px;}
.btn.multiselect{width:100%; border-radius:0; background:#fff; text-align:left;}
.multiselect-native-select .btn-group{width:100%; text-align:left;}
</style>
</head>
<body>
<div class="container">
            <div class="bg-wh">
                    <h2 class="text-center">Partner Lead Registration in PLMT</h2>
                    <br />
                    <br />
                    <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Lead registration Date</label>
                        <input type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Lead ID</label>
                        <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Sales Motion</label>
                        <select class="form-control" >
                            <option>Live</option>
                            <option>Licensing Advisory & Gap</option>
                            <option>Tender</option>
                        </select>
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Customer Segment</label>
                        <select class="form-control" >
                            <option>SMB</option>
                            <option>Consumer</option>
                            <option>Existing customer</option>
                            <option>Others</option>
                        </select>
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Other</label>
                        <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text" class="form-control" />
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Customer City</label>
                        <select class="form-control" >
                            <option>Indore</option>
                            <option>Delhi</option>
                            <option>Gwalior</option>
                        </select>
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Pin code</label>
                        <input type="text" class="form-control" />
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Value of Deal</label>
                        <select class="form-control" >
                            <option>Live (Total Veal value and SKU's)</option>
                            <option>Gap(Expected Licenses)</option>
                            <option>Tender (Product , deal size, tender type)</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                         <div class="form-group">
    <label for="teams">MS Product required</label><br/>
   <select id="multi-select-demo" multiple="multiple">
<option value="jQuery">jQuery tutorial</option>
<option value="Bootstrap">Bootstrap Tips</option>
<option value="HTML">HTML</option>
<option value="CSS">CSS tricks</option>
<option value="angular">Angular JS</option>
</select>
</div>
                    </div>
               <div class="col-sm-6 col-md-4">
                         <div class="form-group">
    <label for="product">MS Involvement if any</label><br/>
   <select id="multi-select-demo2" multiple="multiple">
<option value="maf">MAF</option>
<option value="Licensing Policy Doc">Licensing Policy Doc</option>
<option value="BDM Involvement">BDM Involvement</option>
<option value="Tale sales involvement">Tale sales involvement</option>
</select>
</div>
                    </div> 
       <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Expected date of closing</label>
                        <select class="form-control" >
                            <option>15 days</option>
                            <option>30 days</option>
                            <option>45 days</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label>Current status of the lead</label>
                        <select class="form-control" >
                            <option>10% (Advice mail)</option>
                           <option>20% (required Dics submitted)</option>
                           <option>40% (BOM given)</option>
                           <option>80% (PO recieved)</option>
                           <option>100% (supplied)</option>
                           <option>Other Lost (reasons)</option>
                        </select>
                        </div>
                    </div>             
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                        <label style="visibility:hidden;">Submit</label>
                        <button type="submit" class="btn btn-primary btn-block " style="border-radius:0;">Submit</button>
                        </div>
                        </div>
                    </div>
</div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('#multi-select-demo').multiselect();
    $('#multi-select-demo2').multiselect();
});
</script>
</body>
</html>
